@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body{
    width: 100vw;
    height: 100vh;
    
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    font-size: 20px;
    font-family: 'Poppins';
}

aside{
    width: 10vw;
    height: 100vh;
    background-color: #363740;
    color: #F8FAFC;

    position: fixed;
    left: 0;

    padding: 5vw;
}

main{
    width: 85vw;
    height: 200vh;

    background-color: #F0F2FA;

    display: 
    right: 0;
}

.dark{
    color: #F8FAFC;
}
.light{
    color: #383027;

}

#logo{
    border-radius: 100px;
    height: 30rem;
    width: 30rem;
    background-color: #2489F4;
}